# OS specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# ENv files
.auth
.env
.bun.lock


# Node.js
node_modules/
npm-debug.log

# Typescript
*,js
*.cjs
*.mjs


# npm cache
.npm/

# TypeScript
/dist/
/tsconfig.tsbuildinfo

# Drizzle migration folder (to keep migrations separate)
drizzle/migrations/

# OpenAPI & TypeSpec
openapi.json
openapi.yaml

# Everything else 
*.dump
*.pyc
/report.*.json
/venv
/build
jsconfig.json
.vscode
psql.sh
.nyc_output/
coverage/
*.sw*
*yalc*
*.pem
*.csv
cache/
stats.json

# Database downloads
latest.dump
latest.dump.*
out.dump
out.dump.*
*.dat

# Docker volumes
.postgres
.rabbitmq
.redis

